<div class="content">
    <h1 class="content__heading">CSS</h1>
    <div class="content__preface">
        I don't have a clue why I wrote this.
    </div>
    <div class="content__paragraph-block">
        CSS frameworks and libraries, you see<br />
        Are too large and too specific, someone online told me.<br />
        <br />
        My web server was up, I felt like a hero!<br />
        And started to type<br />
        <br />
        “Body: { padding: 0; }”<br />
        <br />
        And everything was going great, it all felt swell<br />
        Until one div needed inline in my html<br />
        <br />
        I almost fell for it--the trap--, you see<br />
        I almost typed “style=”display: inline”, (what came over me!?)<br />
        Realizing my mistake, I turned away from my villany<br />
        And created a new file that I’d call “_utility”.<br />
        <br />
        A mere 41 lines, all for each display.<br />
        My code was looking a bit ugly. There must be a better way!<br />
        So I turned down the video of some AGDQ TAS,<br />
        And finally decided to try and learn SCSS.<br />
        <br />
        A 25 line gulpfile was soon on the way<br />
        And I concluded I’d start on my homepage today.<br />
        <br />
        “What about text? The shades, I mean.<br />
        A class for each color! My code will be so clean!”<br />
        15,000 lines in, I typed happily<br />
        “class=”text-color-4d64cc””<br />
        <br />
        “CSS grid sounds cool! I should find a way to use it.”<br />
        And a 2x2 web hero was what made me lose it.<br />
        “If I can’t be specific, might as well be verbose.”<br />
        1s by 2s by 3s -- I think by 5s at the most!<br />
        <br />
        And as i typed away<br />
        And away for a while<br />
        I didn’t even notice I had a 74000000 line css file<br />
        <br />
        2 hours to load even one single page<br />
        I sat back at my screen thinking everything was okay.<br />
        I followed all the rules, every guide to a tee,<br />
        Yet some way, somehow, I still felt empty<br />
        <br />
        Something was wrong. Something seemed strange.<br />
        Perhaps my scss files i need to once more rearrange?<br />
        But that wasn’t it, I knew it was much worse.<br />
        I soon found my diagnosis: the specificity curse.<br />
    </div>
</div>