<div class="content">
    <h1 class="content__heading">
        {{ title }}
    </h1>
    <div class="content__paragraph-block">CSS frameworks and libraries, you see
Are too large and too specific, someone online told me.

My web server was up, I felt like a hero!
And started to type

“Body: { padding: 0; }”

And everything was going great, it all felt swell
Until one div needed inline in my html

I almost fell for it--the trap--, you see
I almost typed “style=”display: inline”, (what came over me!?)
Realizing my mistake, I turned away from my villany
And created a new file that I’d call “_utility”.

A mere 41 lines, all for each display.
My code was looking a bit ugly. There must be a better way!
So I turned down the video of some AGDQ TAS,
And finally decided to try and learn SCSS.

A 25 line gulpfile was soon on the way
And I concluded I’d start on my homepage today.

“What about text? The shades, I mean.
A class for each color! My code will be so clean!”
15,000 lines in, I typed happily
“class=”text-color-4d64cc””

“CSS grid sounds cool! I should find a way to use it.”
And a 2x2 web hero was what made me lose it.
“If I can’t be specific, might as well be verbose.”
1s by 2s by 3s -- I think by 5s at the most!

And as i typed away
And away for a while
I didn’t even notice I had a 74000000 line css file

2 hours to load even one single page
I sat back at my screen thinking everything was okay.
I followed all the rules, every guide to a tee,
Yet some way, somehow, I still felt empty

Something was wrong. Something seemed strange.
Perhaps my scss files i need to once more rearrange?
But that wasn’t it, I knew it was much worse.
I soon found my diagnosis: the specificity curse.
    </div>
</div>