<div class="content">
    <h1 class="content__heading">
        Why I Don't Like School and What's Wrong About It
    </h1>

    <div class="content__preface">
        An essay on the struggles and aggravations of an elementary school student. I believe this was made when I was 8, but I could be wrong. My writing skills have since slightly improved.
    </div>

    <div class="content__paragraph">
        Well, first of all nobody learns anything. Once when I was in school one person dropped their pencil and the teacher said that if you drop that pencil again you are going to lick it off the floor! I did not like the sound of that. I wish school was more interesting. That's for sure. My mom said that not every day is a fun filled day. Well I'm not asking for a fun filled day! All I'm asking for is every day to not be a school filled day(and trust me, a school filled day is not a good day). yeah, I'm really spoiled (but just being with my teachers brings that way down.
    </div>
    <div class="content__paragraph">
        My worst teacher was probably Mrs. [REDACTED]. My cousin says that even the name sounds like she would be mean. yeah I know, don't judge people by their names (but It's true) whenever you walk in the school you see a picture of an [REDACTED]. And trust me that picture is huge! as you can imagine I want to be homeschooled. Well, that's all for now.
    </div>
</div>