<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="header">
        <a class="button
                  button--icon"
           href="home">
            <img src="assets/LogIcon.png" />
        </a>
    </div>
    {{{body}}}
    <div class="footer"></div>
</body>