<div class="content">
    <div class="entries">
        <a class="entry" href="rps">Rock Paper Scissors 2</a>
        <a class="entry" href="branchless">Branchless Floored Decrement</a>
        <a class="entry" href="evil">Some Evil Code</a>
        <a class="entry" href="poem">A Beautiful Poem</a>
        <a class="entry" href="school">Gripes of an Elementary Schooler</a>
        <a class="entry" href="welcome">Every Time</a>
    </div>
</div>
